#container{
    width: 85%;
    height: auto;
    margin: 0 auto;
    border: 1px solid royalblue;
}
.phantrenhinh{
    
    margin: 0 auto;
}
.phanduoihinh{
    margin: 0 auto;
    text-align: center;
}
