#header{
    background-color: aquamarine;
}
#container{
   display: flex;
}
#footer{
    background-color: aquamarine;
    border: 1px;
    margin: auto;
}

.left{
    flex-basis:10% ;
}
.content{
    margin: auto;
    flex-basis: 60% ;
    
}
.right{
    background-color: blue;
    flex-basis: 20% ;
}
.content2{
    border: 1;
}
