body{
    margin: 0;
}
#layout{
    max-width:1140;
    margin: auto;
}
#header{
    background-color: aquamarine;
}
#container{
   display: flex;

}
#footer{
    background-color: aquamarine;
    border: 1px solid red;
    margin: auto;
}

.left{
    float: left;
    border: 1px solid red;
    
    
}
.content{
    float: center;
    border: 1px solid red;
    margin: auto;
    height: 200px;
    width: 200px;
}
.right{
    float: right;
    border: 1px solid red;
    margin: right;
    background-color: blue;
}